# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all text files to be normalized and converted to native line endings on checkout.
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.html text
*.json text
*.md text
